@import '../../theme/variables';

.container {
  height: 450px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;

  button {
    margin-top: 55px;
    margin-bottom: 30px;
    min-width: 186px;
  }
}

.headerText {
  font-size: 24px;
  font-weight: 600;
  align-self: center;
  margin-bottom: 20px;
}

.closeBtn {
  font-size: 18px;
  align-self: flex-end;
  cursor: pointer;
  color: #9e9e9e;
}

.descriptionText {
  margin-bottom: 20px;
}

.nameContainer {
  display: inline-flex;
  flex-direction: row;
  justify-content: stretch;
  margin-bottom: 20px;

  div {
    flex: 1;
  }

  div:first-of-type {
    padding-right: 10px;
  }
}

.accessLevelContainer {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;

  p {
    margin-right: 10px;
  }
}