@import "../../theme/variables";

.all {
    // max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: $background-color;
    -webkit-animation: fadein 1s;
    min-height: 100vh;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;

    &.appSumoReg {
        @keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Firefox < 16 */
        @-moz-keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Internet Explorer */
        @-ms-keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Opera < 12.1 */
        @-o-keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        input {
            height: 60px;
        }

        :global {
            .passEye {
                top: 48px !important;
            }

            .input-icon {
                top: 50px !important;
            }
        }

        .regForm {
            max-width: 490px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .logo {
            align-self: center;
            object-fit: contain;
        }

        .content {
            justify-content: center;
            position: relative;
        }

        .leftContentContainer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0 25px;
            border-left: 1px solid #d2eafc;
            flex: 1 1;
            min-height: 100%;
            position: relative;
            background-image: url("../../assets/sumo-bg.jpg");
            background-position: center;
            background-size: cover;
        }

        .testimonialContainer {
            align-items: flex-start;
            display: flex;
            max-width: 350px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 50px;
            padding-bottom: 48px;
            border-bottom: 1px solid #dcdcdc;

            .testimonialLogo {
                img {
                    width: 75px;
                    height: 85px;
                }

                margin-right: 15px;
            }

            .stars {
                width: 107px;
                height: 18px;
                margin-bottom: 12px;
            }
        }

        .testimonialText {
            font-size: 16px;
            color: $black;
            font-weight: 500;
            margin-bottom: 12px;
        }

        .testimonialAuthor {
            font-size: 14px;
            color: #6f6f6f;
        }

        .techtimes {
            margin-bottom: 50px;
            padding-bottom: 48px;
            object-fit: contain;
            border-bottom: 1px solid #dcdcdc;
            width: 350px;
            margin-left: auto;
            margin-right: auto;
        }

        .checkFeatures {
            display: flex;
            margin-bottom: 18px;
            font-size: 16px;

            .checkTitle {
                color: $black;
                font-weight: 500;
            }

            .checkText {
                font-size: 14px;
                color: #6f6f6f;
            }

            .icon {
                width: 37px;
                height: 37px;
                margin-right: 16px;
            }
        }

        .rightContentContainer {
            display: flex;
            align-items: center;
            position: relative;
            padding: 0 25px;
            background-color: #fff;
        }

        .topContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 30px;
        }

        .bubbleContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .signInNowText {
            color: $green;
            cursor: pointer;
            font-weight: 500;
        }

        @media only screen and (max-width: 812px) {
            .leftContentContainer {
                padding: 40px 15px 15px;
            }

            .all {
                padding: 0px 5px;
            }

            .logo {
                display: none;
            }

            .logoSmall {
                display: block;
                margin: 30px auto 24px;
            }

            .testimonialContainer {
                display: none;
            }

            .techtimes {
                display: none;
            }

            .checkFeatures {
                display: none;
            }

            .rightContentContainer {
                padding: 25px 15px 50px;
            }

            .topContainer {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 30px;
            }
        }

        @media only screen and (min-width: 813px) {
            .content {
                display: flex;
                flex-grow: 2;
                padding: 0;
            }

            .logo {
                max-width: 250px;
                margin-bottom: 50px;
                height: 45px;
            }

            .logoSmall {
                max-width: 250px;
                margin-bottom: 50px;
                height: 45px;
                display: none;
            }

            .rightContentContainer {
                flex: 1 1;
            }

            .topContainer {
                max-width: 500px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 30px;
            }
        }

        .formContainer {
            p {
                font-size: 14px;
                color: #9d9d9d;
                font-weight: 600;
            }

            -webkit-animation: fadein 1s;
            /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein 1s;
            /* Firefox < 16 */
            -ms-animation: fadein 1s;
            /* Internet Explorer */
            -o-animation: fadein 1s;
            /* Opera < 12.1 */
            animation: fadein 1s;
        }

        @keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Firefox < 16 */
        @-moz-keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Safari, Chrome and Opera > 12.1 */
        @-webkit-keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Internet Explorer */
        @-ms-keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        /* Opera < 12.1 */
        @-o-keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .formFooterContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            p:hover {
                cursor: pointer;
            }

            button {
                font-weight: "bold";
                box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.08);
                width: 100%;
            }

            .cardNextBtn {
                margin-left: 30px;
                margin-right: 30px;
            }
        }

        .headerText {
            font-weight: 600;
            color: $dark-gray;
        }

        .passwordInfo {
            margin-top: 10px;
        }

        //   AccountForm

        .goBackContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            p {
                margin-left: 8px;
                margin-right: 30px;
            }
        }

        .twoInputsContainer {
            display: flex;
            justify-content: space-between;

            div {
                flex: 1;
            }

            div:not(:nth-child(3)) {
                padding-right: 30px;
            }
        }

        .multiInputsContainer {
            display: flex;
            flex-direction: row;

            & > div {
                flex: 1;
            }

            & > div:nth-child(1) {
                margin-right: 10px;
            }

            & > div:nth-child(2) {
                margin-right: 10px;
            }
        }

        // Payment Form

        .optionsContainer {
            display: flex;
            flex-direction: row;
            margin-bottom: 50px;

            div:first-of-type {
                margin-right: 35px;
            }
        }

        @media only screen and (max-width: 812px) {
            .headerText {
                font-size: 28px;
                margin-bottom: 30px;
                text-align: center;
            }

            .formFooterContainer {
                flex-direction: column;
                margin-top: 25px;

                button {
                    height: 42px;
                    align-self: stretch;
                    margin-bottom: 20px;
                }

                &.cardFormFooter {
                    flex-direction: column-reverse;
                }

                .cardNextBtn {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            .backToSignupBtnContainer {
                display: none;
            }

            .accountCreatedText {
                text-align: center;
            }
        }

        @media only screen and (min-width: 813px) {
            .headerText {
                font-size: 36px;
                margin-bottom: 30px;
            }

            .formContainer {
                input {
                    max-width: 500px;
                }

                p {
                    max-width: 500px;
                }
            }

            .formFooterContainer {
                flex-direction: column;
                max-width: 500px;
                margin-top: 45px;
                align-items: center;
                justify-content: center;

                button {
                    height: 60px;
                    margin-bottom: 24px;
                }
            }
        }

        .link {
            text-decoration: none !important;
        }

        .sumoLings {
            max-width: 490px;
            margin-left: auto;
            width: 100%;
            margin-right: auto;

            .tacoIcon {
                text-align: center;
                margin-bottom: 5px;

                img {
                    width: 143px;
                    height: 143px;
                }
            }

            .welcomeIcon {
                text-align: center;
                margin-bottom: 5px;

                img {
                    width: 236px;
                    height: 70px;
                }
            }

            .sumoIcon {
                text-align: center;
                margin-bottom: 20px;

                img {
                    max-width: 100%;
                    height: 70px;
                }
            }

            .sharpSeparator {
                margin-bottom: 20px;
                text-align: center;

                img {
                    max-width: 100%;
                }
            }

            .thanksForPurchase {
                font-weight: bold;
                font-family: Roboto, Helvetica, Arial, sans-serif;
                font-size: 16px;
                letter-spacing: 1px;
                color: #ffffff;
                text-transform: uppercase;
                margin-bottom: 5px;
                text-align: center;
            }

            .fraudProtectLeader {
                font-weight: regular;
                font-family: Roboto, Helvetica, Arial, sans-serif;
                font-size: 12px;
                letter-spacing: 1px;
                color: #ffffff;
                text-transform: uppercase;
                margin-bottom: 20px;
                text-align: center;
            }

            .achievements {
                img {
                    max-width: 100%;
                }
            }

            .customerStats {
                margin-bottom: 40px;
                display: flex;
                justify-content: center;

                .customStatsBlock {
                    padding-left: 16px;
                    padding-right: 16px;

                    &:not(:last-child) {
                        border-right: 1px solid rgba(64, 86, 193, 0.5);
                    }

                    .customStatsNumbers {
                        font-size: 28px;
                        font-weight: 500;
                        text-align: center;
                        margin-bottom: 10px;
                        color: #18a1ff;
                    }

                    .customStatsDesc {
                        font-size: 12px;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
