// COLORS
$blue: #279cf8;
$light-blue: #5289ff;
$background-color: #ffffff;
$secondary-background: #f4f7fa;
$primary-background: #edf1f5;
$dark-gray: #2b2c33;
$light-gray: #4a4a4a;
$xlight-gray: #eee;
$xlight-gray-c: #ccc;
$red: #fc584e;
$red-15: #fc584e15;
$green: #0db46e;
$light-green: #3dc38b;
$off-gray: #d5d9de;
$off-blue: #b0d7ff;
$progress-green: #10cd24;
$link-blue: #188bff;
$dark-blue: #286cff;
$white: #fff;
$light-pink: #f8d4d6;
$lt-green: #17d384;
$black: #222222;

// SIZES
$primary-font-size: 16px;
$secondary-font-size: 14px;
